/* Total slide settings */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #84BCDA;
  height: 100vh;
  /* alignment */
  display: flex;
  /* center alignment */
  justify-content: center;
  /* vertical center alignment */
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  /* 80% from display */
  height: 80vh;
  border-radius: 20px;
  /* indent between slides */
  margin: 10px;
  /* view clickable cursor */
  cursor: pointer;
  /* text color */
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  /* one image at slide */
  background-repeat: no-repeat;
  /* text relatively slide */
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  /* bottom indent */
  bottom: 20px;
  /* left indent */
  left: 20px;
  margin: 0;
  opacity: 0;
}

/* active slide settings */
.slide.active {
  flex: 10;
}

/* heading settings */
.slide.active h3 {
  opacity: 1;
  /* argument 0.4s - delay text */
  transition: opacity 0.3s ease-in 0.4s;
}